*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: 1.5;
  color: #9da6b9;
  background-color: $secondary;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black, 0);
}

%heading {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: $font-weight-bold;
  line-height: 2;
  color: #9da6b9;
}

h1 {
  @extend %heading;
  font-size: $h1-font-size;
}

h2 {
  @extend %heading;
  font-size: $h2-font-size;
}

h3 {
  @extend %heading;
  font-size: $h3-font-size;
}

h4 {
  @extend %heading;
  font-size: $h4-font-size;
}

h5 {
  @extend %heading;
  font-size: $h5-font-size;
}

h6 {
  @extend %heading;
  font-size: $h6-font-size;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: $primary;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
